* {
    margin:0;
    padding:0;
}

html {
    scroll-behavior:smooth;
    overflow-x:hidden;
}

body {
    font-family:sans-serif;
}

::-webkit-scrollbar {
    width:6.5px;
    background:rgba(255,255,255,1);
}

::-webkit-scrollbar-thumb {
    background:rgba(0,0,0,0.8);
    border-radius:10px;
}

.title {
    width:100%;
    height:100vh;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.title a {
    width:100%;
    display:flex;
    justify-content:center;
    margin:0;
    position:relative;
}

.title i {
    position:absolute;
    top:0;
    left:50%;
    transform:translateX(-50%);
    transition: top 0.3s ease-in-out;
}

.title i:hover {
    top:3vh;
    transition: all 0.3s ease-in-out;
}

.title .container {
    position:absolute;
    top:55%;
    left:50%;
    transform:translate(-50%, -50%);
    width:80%;
    font-family: 'Questrial', sans-serif;
}

.brand {
    color:#fff;
    font-size:5vw;
    text-align:center;
}

.subtitle {
    color:#fff;
    font-size:2vw;
    text-align:center;
}

.about {
    width:100%;
    height:100vh;
    background:#fff;
}

.about .container {
    top:150%;
    left:50%;
    transform:translate(-50%, -50%);
    position:absolute;
    font-size:2vw;
    width:80%;
    text-align:center;
}

.about-element {
    padding-top:3vh;
    font-family: 'Gothic A1', sans-serif;
    font-weight:700;
    line-height:1.5;
}

.contacts {
    width:100%;
    height:100vh;
    margin-bottom:50vh;
}

.contacts .container {
    position:absolute;
    top:350%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
    width:80%;
    color:#fff;
}

.contacts a {
    font-size:1.25vw;
    font-family:'Source Sans Pro', sans-serif;
    padding:1vh 2vw;
    border:3px solid #fff;
    text-transform:uppercase;
    font-family:sans-serif;
    font-weight:700;
    color:white;
    transition:background-color 0.2s ease-out, color 0.2s ease-in-out;
}

.contacts a:hover {
    background:#fff;
    color:#000;
    transition:background-color 0.2s ease-out, color 0.2s ease-in-out;
}

.contacts h1 {
    font-size:4vw;
    font-family: 'Questrial', sans-serif;
}

.contacts h2 {
    font-size:2vw;
    font-family: 'Gothic A1', sans-serif;
    padding-bottom:5vh;
}

.footer {
    height:50vh;
    background:#000;
    color:#fff;
    text-align:center;
    position:fixed;
    bottom:0;
    left:0;
    z-index:-1;
    width:100%;
}

.footer .container {
    position:absolute;
    width:100%;
    height:100%;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.sponsors,
.orgs,
.social-media {
    position:absolute;
    left:50%;
    top:10vh;
    transform:translateX(-50%);
}

.orgs {
    top:25vh;
}

.copyright {
    padding-top:20vh;
    font-size:1vw;
    font-family: 'Gothic A1', sans-serif;
}

.social-media {
    top:35vh;
}


.sponsors-row,as
.orgs-row,
.social-media-row {
    width:100%;
    height:100%;
    display:flex;
    gap:2.5vw;
}

.sponsors-cell {
    height:20%;
    position:relative;
}

.orgs-row {
    width:100%;
    height:100%;
    display:flex;
    gap:2.5vw;
}

.orgs-cell {
    height:100%;
    position:relative;
}

.sponsors-cell img,
.orgs-cell img {
    height:5vh;
    margin:0;
}

.social-media i,
.title i {
    color:#fff;
    font-size:3vw;
}

.social-media i {
    transition: color 0.2s ease-in-out;
}

.social-media i:hover {
    color:#79b9cf;
    transition: color 0.2s ease-in-out;
}


@media screen and (max-width: 900px) {

    .sponsors-cell img,
    .orgs-cell img {
        height:3.5vh;
        margin:0;
    }

    .copyright {
        font-size:2vw;
    }

    .social-media i,
    .title i {
        color:#fff;
        font-size:5vw;
    }

    .brand {
        font-size:7.5vw;
    }

    .subtitle {
        font-size:4vw;
    }

    .title .container {
        width:90%;
    }

    .about-element {
        font-size:3vw;
    }

    .slider figure .slide h1 {
        font-size:6vw;
    }

    .slider figure .slide h2 {
        font-size:3vw;
    }

    .contacts h1 {
        font-size:7vw;
    }

    .contacts h2 {
        font-size:3vw;
    }

    .contacts a {
        font-size:3vw;
    }
}