header {
    width:100%;
    height:125px;
    background:#fff;
    position:fixed;
    top:0;
    left:0;
    z-index:10;
    box-shadow: 0vh 0vh 25px #000000;

}

header img {
    height:63px;
    position:absolute;
    top:31px;
    left:5vw;
    margin:0;
}

.nav-toggle {
    position:absolute;
    top:0;
    z-index:15;
    right:0;
    margin-right:3em;
    align-items:center;
    height:100%;
    width:5vw;
    opacity:0;
    display:none;
}

.hamburger {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 14;
  display: none;
  margin-right:3em;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.bar::before,
.bar::after,
.bar {
    width: 5vw;
    height:3px;
    background:#000;
}

.bar {
    position:relative;
    display:block;
}

.bar::before,
.bar::after {
    content:'';
    position:absolute;
    left:0;
    transition:all 0.3s ease-in-out;
}

.bar::after {
   transition:all 0.3s ease-in-out;
}

.bar::before {
    top:10px;
}

.bar::after {
    bottom:10px;
}

.nav-toggle:checked + .hamburger {
        transform: rotate(45deg);
        transform-origin:middle;
        transition:all 0.3s ease-in-out;
}

.nav-toggle:checked + .hamburger .bar::before,
.nav-toggle:checked + .hamburger .bar::after {
  top: 0;
  transform-origin:middle;
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}

.nav-toggle:checked + .hamburger .bar::after {
    opacity:0;
    transition:opacity 0.3s ease-in-out;
}

.nav-toggle:checked ~ .nav-mobile {
    display:block;
    font-size:4vw;
    transform:scale(1,1);
    transition: transform 0.5s ease-in-out;
}

.nav-toggle:checked ~ .nav-mobile a {
    color:#000;
    opacity:1;
    transition:color 0.3s ease-in-out, opacity 0.5s ease-in-out 0.3s;
}

.nav-toggle:checked ~ .nav-mobile a:hover {
    color: #79b9cf;
    transition:color 0.2s ease-in-out;
}

.nav-mobile {
    width:100%;
    height:100%;
    transition: transform 0.5s ease-in-out;
    font-family: 'Gothic A1', sans-serif;
    display:none;
}

.nav-list {
    width:100%;
    height:100%;
    display:none;
    gap:1em;
    text-decoration:none;
    list-style:none;
    align-items:center;
    margin-left:15%;
}

.nav-list-element {
    text-decoration:none;
    color:#000;
    font-size:20px;
    font-weight:700;
    transition: color 0.2s ease-in-out;
}

.nav-link {
    opacity:0;
    transition:opacity 0.1s ease-in-out;
}

.nav-list-element:hover {
    color:#79b9cf;
    transition: color 0.2s ease-in-out;
}

.nav-desktop {
  height:100%;
  width:100%;
  margin:0;
}

.nav-desktop #nav-links {
    margin-left:15%;
    width:60%;
    justify-content:space-evenly;
}

.nav-desktop ul .navoption {
    margin-top:-2.5%;
    padding-left:4em;
}

.nav-desktop li {
    display:inline-block;
    position:relative;
}
.nav-desktop p {
    margin-top:10px;
    font-family: 'Gothic A1', sans serif;
    color:#222;
    font-size:24px;
    line-height:55px;
    float:left;
    padding:0px 20px;
}

.nav-desktop ul li {
    float:left;
    list-style:none;
    position:relative;
    padding-top:1.5%;
}
.nav-desktop ul li a {
    transition:color 0.2s ease-out;
    display:block;
    font-family: 'Gothic A1', sans serif;
    color:#222;
    font-size:1.2vw;
    font-weight:bold;
    text-decoration:none;
}

.nav-desktop ul li ul li a {
    margin-top:25px;
    margin-bottom:25px;
}

.nav-desktop ul li ul li a:first-of-type {
margin-top:60px;
}

.nav-desktop ul li .navelement {
    margin-top:60px;
}

.nav-desktop ul li ul {
    float:left;
    display:none;
    position:absolute;
    background-color:#fff;
    padding:8px;
    width:200px;
}
.nav-desktop ul li:hover ul {
    color:#c1c1c1;
    display:block;
    animation: navmenu 300ms;
}
.nav-desktop ul li:hover .long-menu {
    width:370px;
    float:left;
    padding:10px 8px;
    color:#c1c1c1;
    display:block;
    animation: navmenu 300ms;
}
.nav-desktop a {
    font-size:0.9em;
    color:#a1a1a1;
    text-transformation:uppercase;
}
.nav-desktop a:hover {
    transition: color 0.2s ease-in;
    color:#79b9cf;
}

.nav-desktop ul li ul li a {
    float:left;
    padding-left:30px;
    z-index:5;
}
.nav-desktop ul li ul li .submenu {
    float:left;
    padding: 8px 30px;
    padding-right:80px;
    z-index:20000;
}
.nav-desktop ul li ul li .submenu-2 {
    float:left;
    padding: 8px 30px;
    padding-right:140px;
    z-index:20000;
}
.nav-desktop ul li ul li ul {
    display:none;
    visibility:hidden;
}
.nav-desktop ul li ul li:hover ul {
    opacity:1;
    visibility:visible;
    background:#fff;
    display:block;
    position:absolute;
    width:190px;
    left:180px;
    top:0px;
    z-index:20000000;
    animation: navmenu 300ms;
}

.nav-desktop ul li ul li:hover ul li {
    padding-top:0;
}

.nav-desktop ul li a i {
    font-size:0px;
}

.nav-desktop .downButton {
    display:none;
}

@keyframes navmenu {
    0% {
        opacity:0;
        top:110%;
    }
    100% {
        opacity:1;
        top:100%;
    }
}

@media screen and (max-width: 900px) {
    header {
        height:100px;
    }

    .nav-toggle {
        display:block;
    }
    .nav-mobile {
        width:100%;
        height:100vh;
        background:#fff;
        transform:scale(1,0);
        transform-origin:bottom;
        display:block;
    }

    .nav-list {
        display:flex;
        flex-direction:column;
        justify-content:center;
        width:100%;
        font-size:4vw;
        margin-left:0;
        gap:1.5em;
        text-decoration:none;
        color:#000;
    }

    .nav-link {
        text-decoration:none;
        color:#000;
    }

    .hamburger {
        display:flex;
    }

    .nav-desktop {
        display:none;
    }

    header img {
        top:20px;
        height:60px;
        z-index:20;
    }
}