* {
	margin:0 auto;
	padding:0;
}

html {
    margin:0 auto;
	padding:0;
	scroll-behavior:smooth;
	overflow-x:hidden;
}

::-webkit-scrollbar {
    width:6.5px;
    background:rgba(255,255,255,1);
}

::-webkit-scrollbar-thumb {
    background:rgba(0,0,0,0.8);
    border-radius:10px;
}

.title {
    width:100%;
    height:100vh;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.title a {
    width:100%;
    display:flex;
    justify-content:center;
    margin:0;
    position:relative;
}

.title i {
    position:absolute;
    top:0;
    left:50%;
    transform:translateX(-50%);
    transition: top 0.3s ease-in-out;
}

.title i:hover {
    top:3vh;
    transition: all 0.3s ease-in-out;
}

.title .container {
    position:absolute;
    top:55%;
    left:50%;
    transform:translate(-50%, -50%);
    width:80%;
    font-family: 'Questrial', sans-serif;
}

.brand {
    color:#fff;
    font-size:5vw;
    text-align:center;
}

.subtitle {
    color:#fff;
    font-size:2vw;
    text-align:center;
}

.posts {
    width:100%;
    height:100vh;
    background:#eee;
    color:#5797ad;
    margin-bottom:50vh;
}

.posts .container {
    width:80%;
    text-align:center;
    position:absolute;
    top:150%;
    left:50%;
    transform:translate(-50%, -50%);
}

.posts h1 {
    font-size:5vw;
    font-family:'Questrial', sans-serif;
}

.footer {
    height:50vh;
    background:#000;
    color:#fff;
    text-align:center;
    position:fixed;
    bottom:0;
    left:0;
    z-index:-1;
    width:100%;
}

.footer .container {
    position:absolute;
    width:100%;
    height:100%;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.sponsors,
.orgs,
.social-media {
    position:absolute;
    left:50%;
    top:10vh;
    transform:translateX(-50%);
}

.orgs {
    top:25vh;
}

.copyright {
    padding-top:20vh;
    font-size:1vw;
    font-family: 'Gothic A1', sans-serif;
}

.social-media {
    top:35vh;
}


.sponsors-row,as
.orgs-row,
.social-media-row {
    width:100%;
    height:100%;
    display:flex;
    gap:2.5vw;
}

.sponsors-cell {
    height:20%;
    position:relative;
}

.orgs-row {
    width:100%;
    height:100%;
    display:flex;
    gap:2.5vw;
}

.orgs-cell {
    height:100%;
    position:relative;
}

.sponsors-cell img,
.orgs-cell img {
    height:5vh;
    margin:0;
}

.social-media i,
.title i {
    color:#fff;
    font-size:3vw;
}

.social-media i {
    transition: color 0.2s ease-in-out;
}

.social-media i:hover {
    color:#79b9cf;
    transition: color 0.2s ease-in-out;
}

@media screen and (max-width: 900px) {

    .sponsors-cell img,
    .orgs-cell img {
        height:3.5vh;
        margin:0;
    }

    .copyright {
        font-size:2vw;
    }

    .social-media i,
    .title i {
        color:#fff;
        font-size:5vw;
    }

    .brand,
    .posts h1,
    .team h1 {
        font-size:7.5vw;
    }

    .subtitle {
        font-size:4vw;
    }

    .title .container {
        width:90%;
    }
}