* {
    padding:0;
    margin:0 auto;
}

html {
    scroll-behavior:smooth;
    overflow-x:hidden;
}

::-webkit-scrollbar {
    width:6.5px;
    background:rgba(255,255,255,1);
}

::-webkit-scrollbar-thumb {
    background:rgba(0,0,0,0.8);
    border-radius:10px;
}

.hero {
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    background:#eee;
    align-items:center;
    justify-content:center;
    text-align:center;
    gap:1vh;
}

.hero h1 {
    padding-top:5vh;
    font-family:'Questrial', sans-serif;
    color:#5797ad;
    font-size:5vw;
}

.hero h2 {
    font-family:'Questrial', sans-serif;
    font-size:2vw;
}

.hero h3 {
    font-size:1.25vw;
    font-family:'Gothic A1', sans-serif;
}

.hero img {
    width:30%;
    padding-top:3vh;
}

.hero a {
    display-inline-block;
    margin-top:3vh;
    text-decoration:none;
    color:black;
    font-size:1.5vw;
    transition:transform 0.2s ease-in-out;
}

.hero a:hover {
    transform:translateY(1vh);
    transition:transform 0.2s ease-in-out;
}

.article {
    width:100%;
    min-height:100vh;
    background:#eee;
    display:flex;
    flex-direction:column;
    gap:10vh;
    align-items:center;
    justify-content:center;
    margin-bottom:50vh;
}

.article .grid {
    width:80%;
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(600px, 1fr));
    grid-row-gap:3vh;
    grid-column-gap:3vw;
}

.article .grid:first-child {
    padding-top:20vh;
}

.article .grid:last-child {
    padding-bottom:20vh;
}

.grid-cell {
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
}

.grid-cell img {
    width:100%;
}

.grid-cell p {
    font-size:1.25vw;
    color:#333;
    line-height:1.5;
    font-family:'Gothic A1', sans-serif;
}

.footer {
    height:50vh;
    background:#000;
    color:#fff;
    text-align:center;
    position:fixed;
    bottom:0;
    left:0;
    z-index:-1;
    width:100%;
}

.footer .container {
    position:absolute;
    width:100%;
    height:100%;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.sponsors,
.orgs,
.social-media {
    position:absolute;
    left:50%;
    top:10vh;
    transform:translateX(-50%);
}

.orgs {
    top:25vh;
}

.copyright {
    padding-top:20vh;
    font-size:1vw;
    font-family: 'Gothic A1', sans-serif;
}

.social-media {
    top:35vh;
}


.sponsors-row,as
.orgs-row,
.social-media-row {
    width:100%;
    height:100%;
    display:flex;
    gap:2.5vw;
}

.sponsors-cell {
    height:20%;
    position:relative;
}

.orgs-row {
    width:100%;
    height:100%;
    display:flex;
    gap:2.5vw;
}

.orgs-cell {
    height:100%;
    position:relative;
}

.sponsors-cell img,
.orgs-cell img {
    height:5vh;
    margin:0;
}

.social-media i,
.title i {
    color:#fff;
    font-size:3vw;
}

.social-media i {
    transition: color 0.2s ease-in-out;
}

.social-media i:hover {
    color:#79b9cf;
    transition: color 0.2s ease-in-out;
}

@media screen and (max-width: 900px) {

    .sponsors-cell img,
    .orgs-cell img {
        height:3.5vh;
        margin:0;
    }

    .copyright {
        font-size:2vw;
    }

    .social-media i,
    .title i {
        color:#fff;
        font-size:5vw;
    }

    .grid-cell img {
        width:50%;
    }

    .grid-cell {
        width:50%;
        margin-left:15%;
    }
}